{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoinCare</title>
    <link href="{% static 'reg/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'reg/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <a href="{% url "register" %}">TO REGISTER</a>
    <br>
    <a href="{% url "login" %}">TO LOGIN</a>

    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand me-auto" href="#"><img src="{% static 'reg/img/Logo2.png' %}" height="200px" alt="CoinCare"></a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Logo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link mx-lg-2 active" aria-current="page" href="#">Возможности</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#">Личный кабинет</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#">Помощь</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#">Блог</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-lg-2" href="#">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
      <a href="#" class="login-button">Login</a>
      <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>


  <header>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 text-center">
          <h1 class="text-center text-black fw-bold">Финансовый и</h1>
          <h1 class="text-center text-black fw-bold">управленческий</h1>
          <h1 class="text-center text-black fw-bold mb-5">учёт для бизнеса</h1>
          <h5 class="text-center text-body">Облачный сервис API для анализа</h5>
          <h5 class="text-center text-body">финансов, оптимизации бюджета и</h5>
          <h5 class="text-center text-body">быстрого масштабирования бизнеса</h5>
        </div>
        <div class="col-lg-6 col-sm-12 text-center">
          <img src="{% static 'reg/img/For-Main.png' %}" class="img-fluid" alt="График анализа финансов">
        </div>
      </div>
    </div>
  </header>

  <section class="examples">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-sm-12 text-center">
          <img src="{% static 'reg/img//second.jpg' %}" height="300px" alt="График анализа финансов">
        </div>
        <div class="col-md-5 col-sm-12 text-center">
          <h1 class="text-start text-black fw-bold mb-5">CoinCare - это наглядно и удобно</h1>
          <p class="text-start text-body">Подробная, рабочая и реально прикладная аналитика вашего бизеса.Легкий и
            геймифицированный процесс заполнения, справится любой менеджер.Информативные графики и понятная аналитика.
          </p>
          <p class="text-start text-body">Все ваши показатели наглядно, без множества таблиц - в одном клике!</p>
        </div>
      </div>
  </section>

  <section class="expensiviness">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-12 col-sm-12 text-center">
          <h2 class="text-center text-black fw-bold">Прибыль, маржинальность,</h2>
          <h2 class="text-center text-black fw-bold mb-5">структура расходов</h2>
          <p class="text-center">Как для всего бизнеса в целом, так и для отдельных филиалов(магазина, кофейни или
            студии). Сервис CoinCare помогает легко отслеживать ваши реальные финансовые потоки и анализировать доходы,
            расходы. Легче понимать, сколько вы заработали.</p>
          <img src="{% static 'reg/img//third.jpg' %}" class="img-fluid" alt="График анализа финансов">
        </div>
      </div>
    </div>
  </section>

  <section class="Branch-analysis">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-sm-12 text-center">
          <img src="{% static 'reg/img//fourth.png' %}" class="img-fluid" alt="График анализа финансов">
        </div>
        <div class="col-md-5 col-sm-12 text-center">
          <h1 class="text-start text-black fw-bold mb-5">Анализ филиалов</h1>
          <p class="text-start text-body">Для выявления наиболее рентабельных или убыточных.</p>
          <p class="text-start text-body">Если у вас несколько торговых точек, то анализируйте сколько зарабатывает или
            тратит каждый филиал, а не только отслеживайте общую прибыль.</p>
          <p class="text-start text-body">Владельцам сетевых заведений тоже очень важно видеть соотношения выручки и
            рентабельности. Например, торговая точка на окраине города может быть гораздо прибыльнее, чем точка в
            центре, поскольку и затраты на неё будут меньше, а значит - рентабельность выше.</p>
        </div>
      </div>
  </section>

  <section class="Branch-analysis-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-sm-12 text-center">
          <h1 class="text-start text-black fw-bold mb-5">Сравнение показателей</h1>
          <p class="text-start text-body">Сравните "одинаковые" филиалы по прибыли, анализируйте динамику от месяца к
            месяцу, поймите какие расходы начали внезапно увеличиваться.</p>
          <p class="text-start text-body">С помощью сервиса CoinCare отслеживайте динамику бизнеса, стройте более
            конкретные планы для сотрудников.</p>
        </div>
        <div class="col-md-5 col-sm-12 text-center">
          <img src="{% static 'reg/img//fourth.png' %}" class="img-fluid" alt="График анализа финансов">
        </div>
      </div>
  </section>

  <section class="Opportunities">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center text-black fw-bold">Больше возможностей</h1>
        </div>
        <div class="col-xl-4 col-sm-12 col-md-6">
          <img src="{% static 'reg/img//Oportnutity-1.svg' %}" alt="График анализа финансов">
          <h4 class=" text-black fw-bold mb-5">Поиск любой внесенной в систему операции</h4>
          <p class="text-start text-body fs-5">Доход, расход, перемещение между счетами. Фильтрация поиска возможна по
            сумме, дате добавления или дате изменения.</p>
          <p class="text-start text-body fs-5">Вы не потеряете данные о проведенной оплате даже при случайном удалении.
          </p>
        </div>
        <div class="col-xl-4 col-sm-12 col-md-6">
          <img src="{% static 'reg/img//Oportnutity-2.svg' %}" alt="График анализа финансов">
          <h4 class="text-black fw-bold mb-5">Предотвращение классовых разрывов</h4>
          <p class="text-start text-body fs-5">Благодаря интерактивным графикам в CoinCare и возможностью использовать
            платежный календарь для детального планирования финансов.</p>
        </div>
        <div class="col-xl-4 col-sm-12 col-md-6">
          <img src="{% static 'reg/img//Oportnunity-3.png' %}" alt="График анализа финансов">
          <h4 class="text-black fw-bold mb-5">Учёт в нескольких валютах</h4>
          <p class="text-start text-body fs-5">У вас много счетов, в разных валютах или криптовалютах? Легко учитывайте
            их CoinCare и понимайте сколько дене у вас итого в определенный момент.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="effectness">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-start text-black fw-bold mb-5">Кому будет полезен CoinCare?</h1>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="reg/img//effectness-1.png" class="card-img-top" alt="Кофейням и ресторанам">
            <div class="card-body">
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="reg/img//effectness-2.png" class="card-img-top" alt="Студиям йоги">
            <div class="card-body">

            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="reg/img//effectness-3.png" class="card-img-top" alt="Творческим мастерским">
            <div class="card-body">
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card" style="width: 18rem;">
            <img src="reg/img//effectness-4.png" class="card-img-top" alt="Интернет магазинам">
            <div class="card-body">
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="detailed-information-1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-sm-12 text-center">
          <img src="{% static 'reg/img//fourth.png' %}" class="img-fluid" alt="График анализа финансов">
        </div>
        <div class="col-md-5 col-sm-12 text-center">
          <h1 class="text-start text-black fw-bold mb-5">Все транзакции компании в одном месте. Наглядно. Понятно.
            Всегда под рукой</h1>
          <p class="text-start text-body fs-5">CoinCare - это полная аналитика денег компании будет доступна вам в любое
            время — с компьютера или мобильного телефона. Все важные для бизнеса показатели собраны в одном личном
            кабинете, нет необходимости отслеживать финансы в разных источниках.</p>
          <p class="text-start text-body fs-5">Мы создали прекрасный сервис для управленческого учёта без лишних
            бухгалтерских отчётов. Вам больше не нужно вносить финансы в Google-таблицы, Excel или изучать сложный мир
            1:С. Всё, что нужно для принятия грамотных управленческих решений, Вам предоставит CoinCare.</p>

        </div>
      </div>
  </section>

  <section class="detailed-information-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-sm-12 text-center">
          <h1 class="text-start text-black fw-bold mb-5">Планируйте доходы и расходы. CoinCare подскажет, на что
            обратить внимание</h1>
          <p class="text-start text-body fs-5">При добавлении финансовых операций программа строит график, на основании
            которого вы можете заблаговременно заметить возможный кассовый разрыв и избежать его.</p>
          <p class="text-start text-body fs-5">Составьте четкий план на ближайший квартал или год. Сервис CoinCare
            предоставит вам основные показатели для принятия долгосрочных управленческих решений: баланс, отчет о
            движении денег, а также отчет о доходах и расходах.</p>
        </div>
        <div class="col-md-5 col-sm-12 text-center">
          <img src="{% static 'reg/img//fourth.png' %}" class="img-fluid" alt="График анализа финансов">
        </div>
      </div>
  </section>

  <section class="Distribute-income">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center text-black fw-bold mb-5">Распределите доходы и расходы на группы и категории,
            подходящие именно вашему бизнесу</h1>
          <p class="text-center text-body fs-5">Отслеживание финансов по категориям позволяет понять, какие статьи
            расходов отнимают у вас наибольшую часть денег, а какие — приносят больше всего прибыли. Сервис CoinCare
            позаботиться об этом. Сконцентрируйтесь на важном.</p>
        </div>
        <div class="col-12">
          <img src="{% static 'reg/img//First_gif.gif' %}" class="img-fluid" alt="График анализа финансов">
        </div>
      </div>
    </div>
  </section>

  <section class="Branch-analysis">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-sm-12 text-center">
          <img src="{% static 'reg/img//Balance-1.png' %}" class="img-fluid" alt="График анализа финансов">
        </div>
        <div class="col-md-5 col-sm-12 text-center">
          <h1 class="text-start text-black fw-bold mb-5">Учитывайте все финансовые операции. Стройте планы на основании
            цифр</h1>
          <p class="text-start text-body fs-5">Определить самое выгодное направление для инвестиций, отследить пропавшие
            в прошлом месяце 50 000 рублей со счёта или узнать, какой клиент принес больше всего денег за предыдущий
            квартал — все эти опции доступны при использовании сервиса Финтрек.</p>
          <p class="text-start text-body fs-5">Кроме того, отчёты, формируемые нашим сервисом, будут очень полезны для
            демонстрации инвесторам. Вы сможете предоставить им всю информацию о денежном состоянии компании в
            онлайн-режиме. Прозрачно.</p>
        </div>
      </div>
  </section>

  <section class="Branch-analysis-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7 col-sm-12 text-center">
          <h1 class="text-start text-black fw-bold mb-5">CoinCare - работайте самостоятельно или в команде</h1>
          <p class="text-start text-body fs-5">Вы можете быть владельцем небольшой торговой точки, онлайн-магазина или
            сети развлекательных заведений. Можете вести дела самостоятельно, работать с подрядчиками или иметь команду.
            Можете быть начинающим предпринимателем или бизнесменом со стажем. В любом из этих случаев наш сервис
            CoinCare облегчит вашу профессиональную жизнь.</p>
          <p class="text-start text-body fs-5">Мы разработали мультидоступ — для каждого сотрудника можно назначить свой
            круг прав. Администратор может добавлять финансовые операции, редактор — вносить изменения или удалять
            транзакции, а бухгалтер и владелец будут иметь доступ ко всем функциям сервиса CoinCare.</p>
        </div>
        <div class="col-md-5 col-sm-12 text-center">
          <img src="{% static 'reg/img//Balance-2.svg' %}" class="img-fluid" alt="График анализа финансов">
        </div>
      </div>
  </section>

  <section class="Safety">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <h1 class="text-center text-black fw-bold">CoinCare надёжно защищает ваши данные</h1>
        </div>
        <div class="col-lg-8 col-sm-12 text-center">
          <img src="{% static 'reg/img//Safety-1.png' %}" class="img-fluid" alt="График анализа финансов">
        </div>

        <div class="col-lg-4 col-sm-12 text-center">
          <p class="text-center text-body fs-5">Реальные цифры и данные видит только пользователь сервиса. Разработчики
            или злоумышленники, перехватывающие трафик, увидят лишь зашифрованные данные. Сервис CoinCare использует
            безопасный алгоритм хеширования SHA-2 и 2048-битное шифрование.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="FAQ">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="text-start text-black fw-bold mb-5">FAQ</h1>
        </div>
      </div>
      <!-- Начало 1 аккордиона -->
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="accordion" id="accordion1">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <h4 class="text-black fw-bold">Как добавить юр.лицо, контрагента, счёт?</h4>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordion1"
                aria-labelledby="heading1">
                <div class="accordion-body">
                  <p class="text-body fs-5">Для добавления нового юр.лица, контрагента или открытия счета в программе
                    вам необходимо перейти в раздел Настройки, расположенный слева в меню. Там же вы сможете добавить
                    категории доходов и расходов, а также разделить их на удобные для вас группы.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h4 class="text-black fw-bold">Как вносить транзакции?</h4>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion1"
                aria-labelledby="heading2">
                <div class="accordion-body">
                  <p class="text-body fs-5">Для добавления транзакции вручную просто перейдите в раздел Транзакции,
                    который также расположен слева в меню. Вы сможете:</p>
                  <ol class="list-group list-group-numbered">
                    <li class="list-group-item">внести одну транзакцию или сразу несколько;</li>
                    <li class="list-group-item">указать точную сумму и счёт, на который поступили деньги или с которого
                      они списались;</li>
                    <li class="list-group-item">отнести операцию к нужной категории;</li>
                    <li class="list-group-item">указать контрагента;</li>
                    <li class="list-group-item">выбрать один или несколько проектов, связанных с транзакцией;</li>
                    <li class="list-group-item">указать дату поступления или списания платежа;</li>
                    <li class="list-group-item">а также при необходимости оставить комментарий для себя или коллег.</li>
                  </ol>
                  <p class="text-body fs-5">Нажимая на кнопку "Добавить еще" вы можете внести подобную операцию без
                    необходимости заполнять поля заново, лишь указав минимальные изменения - например, другую дату.</p>
                  <p class="text-body fs-5">Владельцу компании будет доступна функция "Корзина", где будут находиться
                    все удаленные операции.</p>

                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h4 class="text-black fw-bold">Как редактировать, копировать и удалять операции?</h4>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordion1"
                aria-labelledby="heading3">
                <div class="accordion-body">
                  <p class="text-body fs-5">Для внесения изменений в уже внесенную в систему операцию вам необходимо
                    зайти в раздел "Транзакции", найти нужную вам операцию и нажать на кнопку с тремя точками справа. Вы
                    сможете редактировать уже существующую операцию, копировать операцию без внесения изменений или
                    копировать операцию с последующим редактированием.</p>
                  <p class="text-body fs-5">Удаление операции возможно только тем сотрудником, у которого есть права на
                    осуществление операции. Если администратор ошибся при внесении, он может сделать запрос для
                    редактора на удаление операции.</p>
                  <p class="text-body fs-5">Владельцу компании будет доступна функция "Корзина", где будут находиться
                    все удаленные операции.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Конец 1 аккордиона -->

        <!-- Начало 2 аккордиона -->
        <div class="col-md-6 col-sm-12">
          <div class="accordion" id="accordion2">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading4">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <h4 class="text-black fw-bold">Как настроить инеграцию с банками?</h4>
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordion2"
                aria-labelledby="heading4">
                <div class="accordion-body">
                  <p class="text-body fs-5">Настройте прямой обмен с банками-партнерами СБИС, чтобы отправлять платежные
                    поручения из программы сразу в банк и автоматически обновлять сведения о движениях по счетам.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h4 class="text-black fw-bold">Как настроить мультидоступ?</h4>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordion2"
                aria-labelledby="heading5">
                <div class="accordion-body">
                  <p class="text-body fs-5">В разделе Настройки в личном кабинете вы можете установить разный уровень
                    доступа для разных сотрудников. Просто укажите почту, с которой будет осуществляться вход в личный
                    кабинет в соответствии с уровнем прав, предоставленному для администратора, редактора или
                    бухгалтера.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h4 class="text-black fw-bold">Как работать с платежным календарем?</h4>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordion2"
                aria-labelledby="heading6">
                <div class="accordion-body">
                  <p class="text-body fs-5">Платёжные календари представляют собой план на будущее в виде таблицы со
                    всеми поступлениями и платежами. По календарю видно, в какие дни не хватит денег, чтобы покрыть
                    расходы. Вы сможете заметить это заранее и придумать, где взять средства для оплаты или как её
                    перенести. Так календарь помогает избегать кассовых разрывов и сохранять репутацию надёжного
                    партнёра, который не допускает просрочек.</p>
                  <p class="text-body fs-5">Этот инструмент используют не только те, кто регулярно сталкивается с
                    кассовыми разрывами из-за нехватки денег, но и крупный прибыльный бизнес.</p>
                  <p class="text-body fs-5">Например, развитие нового направления требует больших вложений. Нужно
                    арендовать производственное помещение, склад, закупить оборудование и сырьё для производства, нанять
                    hr-менеджера для поиска сотрудников и выделить деньги на зарплату. Бездумно тратить деньги со счёта
                    нельзя. Каждый крупный платёж подбивайте под поступление от контрагента — планируйте покупку
                    оборудования на следующий день после получения оплаты от крупного заказчика.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Конец 2 аккордиона -->
      </div>
    </div>
  </section>

  <section class="Trying">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-12 text-center">
          <h1 class="text-start text-black fw-bold mb-5">CoinCare - это наглядно и удобно</h1>
          <p class="text-start text-body fs-5">Запишитесь прямо сейчас на 30-минутную Zoom-консультацию с нашим
            специалистом, и первый месяц использования сервиса CoinCare будет для вас бесплатным! Мы наглядно покажем
            все функции сервиса и поможем начать работу, учитывая нужды Вашей компании.</p>
        </div>
        <div class="col-lg-7 col-sm-12 text-center">
          <img src="{% static 'reg/img//Trying-2.svg' %}" height="300px" alt="График анализа финансов">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h5 class="text-start text-black fw-bold">Чтобы записаться на консультацию — пожалуйста, заполните форму</h5>
        </div>
        <div class="row align-items-center">
          <div class="col-12">
            <p class="text-center text-body fs-5 mt-5">Или пишите нам в Telegram - @CoinCareBot</p>
          </div>
        </div>
      </div>
  </section>


  <section class="Main-Footer">
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-white text-muted">
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-2">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <img src="{% static 'reg/img//Logo.png' %}" height="200px" alt="Кофейням и ресторанам">
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                О НАС
              </h6>
              <p>
                <a href="#!" class="text-reset">Возможности</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Блог</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Тарифы</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Помощь</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Документы
              </h6>
              <p>
                <a href="#!" class="text-reset">Политика конфеденциальности</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Оферта</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Контакты</h6>
              <p>sigmateam@gmail.com</p>
              <p>+7-904-444-210-06</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    </footer>
    <!-- Footer -->
  </section>


    <script src="{% static 'reg/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>