.background {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  

  @media screen and (max-width: 640px) {
    img.bg {
      left: 50%;
      margin-left: -320px;
    }
  }
}


#square {
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  height: 15vh;
  min-width: 300;
  min-height: 400;
  margin-bottom: auto;
  margin-top: auto;
  background: rgb(255, 255, 255);
}


.logo{
  position: static;
  text-align: center;
  margin-left: 2vw;
  margin-top: -30px;
  width: 180px;
  height: 180px;
  z-index: 1;
}


.text-center{
  margin-bottom: 25px;
  margin-top: 45px;
  position: static;
  padding-top: 10px;
}

.btn{
  border: 0px solid #2b2829;
  margin-bottom: 10px;
  margin-top: 10px;
  position: static;
  box-shadow: 0px 0px 0px rgb(44, 42, 42);
  background-color: #68F9A2; 
}

.col {
  border-radius: 20px;
  background: #ffffff;
  border: 1px solid #ffffff;
}

.table{
  
  background-color: aqua;
  margin-left: auto;
  margin-right: auto;
}

.row {
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #ffffff;
}
