:root{

}
header, section{
    padding: 50px 0;
}
header{
    padding: 150px 0;
}

header{
    background: linear-gradient(to right,  #f6fcfc 0%,#d2e5f4 17%,#abedc2 34%,#f3fbf7 48%,#f6fcfc 60%,#abedc2 76%,#d2e5f4 88%,#f6fcfc 100%);
    background-size: contain;
}

.Branch-analysis{
    background: linear-gradient(to right,  #ffffff 0%,#f7a0f1 24%,#ffffff 49%,#ffffff 100%);
    background-size: contain;
}
.Branch-analysis-2{
    background: linear-gradient(to right,  #ffffff 0%,#f7a0f1 24%,#ffffff 49%,#afebd9 64%,#f7a0f1 76%,#ffffff 91%);
    background-size: contain;
}

.box-for-op {
    border: solid;
}

.effectness, .detailed-information-1, .detailed-information-2{
    background: linear-gradient(to right, #edf9f9 0%,#edf9f9 100%);
    background-size: contain;
}
/*  .Trying {
    background-image: url("{% static 'reg/img/Trying.svg' %}"); height:max-content;
    
}*/
/* start navbar */
.navbar {
    background-color: #ebf9f6;
    height: 80px;
    border-radius: 16px;
    padding: 0.5rem;
}


.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #ff83c6;
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

/* end navbar */